
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.account-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.profile-card {
  background-color: rgba(255, 62, 62, 0.7);
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #000;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  border: 4px solid white;
}
