
.header {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 60px;
  margin-bottom: 10px;
}

.welcome {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-pic {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.quote-bar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.quote-bar {
  background-color: #42ffe6;
  padding: 10px 20px;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 22px;
}

.refresh-quote-btn {
  background-color: #42ffe6;
  color: #000;
  font-size: 18px;
  font-family: 'Fredoka One', sans-serif;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.refresh-quote-btn:hover {
  background-color: #2fd3c4;
}

.task-section {
  margin-top: 40px;
  width: 60%;
  float: left;
}

.task-list {
  list-style: none;
  padding-left: 0;
}

.task {
  background-color: #ff7c7c;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.complete-btn, .delete-btn {
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 2px 6px;
}
.complete-btn {
  background-color: #4CAF50; 
  margin-left: 10px;
}
.delete-btn {
  background-color: #f44336; 
  margin-left: 5px;
}

.timer-section {
  float: right;
  width: 35%;
  text-align: center;
  margin-top: 40px;
}

.timer-circle {
  width: 200px;
  height: 200px;
  background-color: #4ecbff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
}

#home-time { 
  font-size: 50px;
  font-weight: bold;
}

.timer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Fredoka One', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.start { background-color: #ff7c7c; }
.pause { background-color: #00ff68; }
.reset { background-color: #42ffe6; }


body.dark .quote-bar-section {
  color: #000; 
}
body.dark #home-time {
  color: #000;
}
